<%= link_to 'New article', create_article_page_path %>

<h3>My Articles:</h3>
<% if flash.any? %>
	<% flash.each do |value|%>
	<div class=""> <%=  value %> </div>
	<% end %>
<% end %>

<% @article.each do |item|%>
	<tr>
		<th><%= item.title %></th> |    
		<th><%= item.content %></th> |
		<th>Author : <%= item.author.name %></th>
		<br>
	</tr>
<% end %>