<%= link_to 'New article', create_article_page_path %>

<h3>My Articles:</h3>
<% if flash.any? %>
	<% flash.each do |value|%>
	<div class=""> <%=  value %> </div>
	<% end %>
<% end %>

<% @articles.each do |article|%>
	<tr>
		<th><%= article.title %></th> |    
		<th><%= article.content %></th> |
		<th>Author : <%= article.author.name %></th> |
		<th><%= link_to 'Edit', edit_article_page_path(article) %></th>
		<br>
	</tr>
<% end %>

<%= link_to "Back to profile", "home"%>